# Node.js
node_modules/
package-lock.json
npm-debug.log*
.expo/

# Android
android/.gradle/
android/build/
android/.idea/
android/local.properties
android/*.iml
android/app/build/
android/buildOutputCleanup/
android/vcs-1/

# iOS
ios/build/
ios/Pods/
ios/.symlinks/
ios/*.xcworkspace # Often generated
ios/*/*.xcworkspace/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/.idea/

# General / IDE
.idea/
*.iml
.DS_Store